# ----------------------------------------
# General / Miscellaneous
# ----------------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history/
.svn/
.swiftpm/
migrate_working_dir/

# ----------------------------------------
# IDEs & Editors
# ----------------------------------------
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code settings
.vscode/

# ----------------------------------------
# Flutter / Dart
# ----------------------------------------
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Generated JavaScript (web)
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Dartdoc
doc/api/

# dotenv
.env*

# ----------------------------------------
# Build outputs
# ----------------------------------------
build/
# Flutter iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
# Flutter Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# Keystore & credentials
android/app/*.keystore
key.properties

# Symbolication & obfuscation
app.*.symbols
app.*.map.json
